// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$katulu-palette: (
  900: #002742,
  800: #00375a,
  700: #004167,
  600: #074a71,
  500: #135179,
  400: #426989,
  300: #65839c,
  200: #8fa5b8,
  100: #bac8d5,
  50: #e4e9ed,
  contrast: (
    900: white,
    800: white,
    700: white,
    600: white,
    500: white,
    400: white,
    300: white,
    200: rgba(black, 0.87),
    100: rgba(black, 0.87),
    50: rgba(black, 0.87),
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$centraldashboard-primary: mat.define-palette($katulu-palette, 900);
$centraldashboard-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$centraldashboard-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$centraldashboard-theme: mat.define-light-theme(
  (
    color: (
      primary: $centraldashboard-primary,
      accent: $centraldashboard-accent,
      warn: $centraldashboard-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($centraldashboard-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
